.chatContent{
    .el-drawer__body{
        font-size: 0;
    }
    .chatLeft,.chatRight{
        display: inline-block;
    }
    .videoPosition{
        // width:50% ;
        width: 200px;
        height: 100px;
        color: #fff;
        font-size: 26px;
    }
    //声网样式
    .agoraRegion{
        position: relative;
        .agoraVideoPre{
            height:500px;
        }
        .agoraCloseBtn{
            display: inline-block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            line-height: 50px;
            position: absolute;
            // color:red;
            text-align: center;
            position: absolute;
            bottom:30px;
            left:50%;
            margin-left: -25px;
            color:#fff;
            background: red;
            font-size: 26px;
            cursor: pointer;

        }
    }
    
    .chatLeft{
        // width: 240px;
        width: calc(100% - 640px);
        // height: 100%;
        vertical-align: top;
        background: #f5f5f5;
        font-size: 14px;   
        .patientList{
            height: calc(100vh);
            // max-height: 100%;
            // overflow-y:scroll;
            .previewVideo{
                position: relative;
                width: 100%;
                height: 100%;

                video{
                    position: absolute;
                    object-fit: fill;
                    width: 100%;
                    height:100%;
                }
            }
            .previewVideo,.remoteVideo{
                position: relative;
                .closePhoneBtn{
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    line-height: 60px;
                    text-align: center;
                    bottom:50px;
                    left: 50%;
                    background: red;
                    border-radius: 50%;
                    margin-left: -25px;
                    cursor: pointer;
                    i{
                        font-size: 26px;
                        color:#fff;
                    }
                }
            }
            .remoteVideo{
                // display: inline-block;
                // width: 48%;
                height: 100%;
                
                video{
                    // object-fit: fill;
                    width: 100%;
                    height:100%;
                }
            }
        }
         
        li{
            font-size: 0;
            margin:5px;
            cursor: pointer;
            >div{
                display: inline-block;
                font-size: 14px;
            }
            .patientImg{
                width: 50px;
                height: 50px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .patientName{
                vertical-align: top;
                margin-left: 10px;
                width: calc(100% - 60px);
                .titleName{
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 30px;
                    height: 30px;
                }
                .patientState{
                    font-size: 12px;
                    
                    .stateA{
                        color:#1890FF;
                    }
                    .stateB{
                        color:#999;
                    }
                }
            }
        }
        .patientCurrent{
            background: #ccc;
        }
    }
    .chatRight{
        // width:100%;//需要放开
        width: 640px;
    }
    .my-drawer {
        .chatHeaderName {
            background: #F7F7F7;
            padding: 16px 15px;
            margin-bottom: 0;
            font-size: 16px;
            font-weight: bold;
            color: #262626;
    
            .closeBtnChat {
                position: absolute;
                right:10px;
                font-size: 20px;
                cursor: pointer;
            }
    
            button {
                outline: none;
            }
        }
    
        .scroll-view {
            height: calc(100vh - 58px - 186px);
            box-sizing: border-box;
            overflow-y: scroll;
    
            .chat-item {
    
                .timestamp {
                    color: rgb(174, 174, 175);
                    font-size: 14px;
                    text-align: center;
                    margin: 20px 0 0 0;
                }
    
                .chat {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    margin: 20px 0 0 0;
    
                    &.row {
                        flex-direction: row;
                    }
    
                    &.row-reverse {
                        flex-direction: row-reverse;
                    }
    
                    .head-img {
                        margin: 0 16px;
                    }
    
                    .chat-word {
                        display:block;
                        max-width: 496px;
                        // white-space:nowrap;
                        // overflow:hidden;
                        // text-overflow:ellipsis;
                        .name {
                            font-size: 14px;
                            color: #595959;
                            line-height: 22px;
                            margin: 0 0 6px 0;
                        }
    
                        .word {
                            font-size: 14px;
                            color: #262626;
                            // line-height: 24px;
                            background: #EFF0F1;
                            padding: 12px;
                            word-break:break-all; //支持IE，chrome，FF不支持/
                            word-wrap:break-word;//支持IE，chrome，FF/
    
                            &.other {
                                border-radius: 0 8px 8px 8px;
                            }
    
                            &.my {
                                background: rgba(24,144,255,0.27);
                                border-radius: 8px 0 8px 8px;
                                line-height:20px;
                                color:#000000;
                            }
                        }
    
                        img {
                            max-width: 200px;
                            border-radius: 4px;
                        }
                    }
                    .refuseC{
                        font-size: 14px;
                        color: #262626;
                        text-align: left;
                        width: 100%;
                        line-height: 40px;
                        height: 40px;

                    }
                    .refuseB{
                        font-size: 14px;
                        color: #262626;
                        text-align: right;
                        width: 100%;
                        line-height: 40px;
                        height: 40px;
                    }
                }
            }
        }
        .scroll-view-isHistory{
            height: calc(100vh);
        }
        .panel {
            padding: 16px 24px 48px;
            box-shadow: 0px -2px 12px 0px rgba(0, 0, 0, 0.03);
            
            .operate-area {
                // display: flex;
                // align-items: center;
                // justify-content: space-between;
                // margin: -12px 0 0 10px;
                position: relative;
                .el-upload--picture-card {
                    border: none;
                    height: 24px;
                    width: 28px;
                    line-height: 24px;
                }
                .el-upload--text{
                    border:0;
                    width: 20px;
                    height: 20px;
                    .el-icon-picture{
                        font-size: 20px;
                    }
                }
                .patientListBtn{
                    position: absolute;
                    top: 0;
                    left: 30px;
                    font-size: 18px;
                    cursor: pointer;
                }
                .microphoneBtn{
                    position: absolute;
                    top: 0;
                    left: 60px;
                    font-size: 18px;
                    cursor: pointer;
                }
                .handleWordMessageEvnt{
                    position: absolute;
                    right: 0;
                    top: 0;
                }
    
            }
        }
    }
    
    .show-dialog {
        img {
            width: 100%;
        }
    }
    
    .dialog {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        
        overflow: auto;
        margin: 0;
        z-index: 5555;
        background: rgba(0, 0, 0, .5);
    
        .con {
            min-height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 50px 0 140px;
    
            img {
                width: auto;
                height: auto;
                max-width: 980px;
            }
    
            .downlaod {
                position: fixed;
                z-index: 2101;
                bottom: 50px;
                left: 50%;
                transform: translateX(-50%);
                width: 114px;
                height: 48px;
                line-height: 48px;
                border-radius: 24px;
                background: rgba(255, 255, 255, 1);
                color: #000;
                text-align: center;
                font-size: 30px;
            }
        }
    }

}
