$warningBg: #FF4949;   
.drugsTableCom_wrap {
    height: 100%;

    .head_Contents {
        display: flex;
        justify-content: space-between;
        .docModuleRelateDiagnose{ // 医嘱模版引用诊断样式调整
            color: #333;
            font-size: 16px;
            font-weight: 400;
            margin-top: -4px;
        }
        .wraningTips {
            color: #FAAD14;
            .wraningBd {
                display: inline-block;
                width: 22px;
                height: 22px;
                color: #fff;
                padding-left: 8px;
                font-size: 16px;
                box-sizing: border-box;
                background: #FFC107;
                border-radius: 12px;    
            }
        }
        .startTimeRange {
            display: flex;
            margin-bottom: 10px;
            // width: 180px;
        }
    }

    .beginDate.el-date-editor {
        width: 90px !important;
    }

    .beginTime.el-date-editor {
        width: 50px !important;
    }

    .beginDate, .beginTime {
        .el-input__prefix {
            display: none;
        }
       .el-input__inner {
           padding: 3px 4px;
       }
    }

  
    .table_wrap {
        height: calc(100% - 34px);
        overflow-x: scroll;
        .el-table--border th:first-child .cell,.el-table--border td:first-child .cell{
            padding-left: 0;
        }
    }
    .el-input-number.is-controls-right .el-input__inner{
        padding: 0;
    }
    .templateTable{
        flex: 1;
        overflow: hidden;
    }
    .templateHandler{
        padding: 16px;
        text-align: right;
    }
    .doseSpan{
        display: inline-block;
        position: relative;
        left: -7px;
    }
    .el-input {
        height: 24px;
        line-height: 1;
        .el-input__inner {
            height: 24px;
            line-height: 24px;
            border-radius: 4px;
            text-align: center;
        }
        .el-input__icon{
            line-height: 24px;
        }
    }
    .el-input-number{
        width: 100%;
        .el-input__inner {
            padding: 0;
        }
    }
    .el-table {
        height: 100%; 
        .cell {
            padding:0 3px;
            text-align: center;
        }
        .BChildrenBg {
            td {
                border-bottom: 1px solid #EBEEF5; 
            }
        }
        .BWarningBg  {
            .cell {
                color: $warningBg !important;
            }
            .el-input__inner {
                color: $warningBg !important;
            }

            .orderItemsCopy {
                &:first-child{
                    color: $warningBg !important;
                }

                &:nth-child(2){
                    color: $warningBg!important;
                }
            }    
        }
        .clinicItemName{
            text-align: left;
        }
        .ordersNameDetails{
            display: flex;
            width: 100%;
            
            flex-direction: row;
        }

        .el-date-editor{
            width: 100%;
        }
        .amountChange {
            width:74px;
            &.el-input-number--mini {
                line-height: 22px;
            }
            .el-input__inner {
                padding: 0 10px;
                height: 24px;
                line-height: 24px;
            }
            .el-input-number__decrease, .el-input-number__increase {
                width: 22px;
                height: 22px;
                display: inline-block;
            }
        }

        .myCell .el-checkbox__input {
            display: none;
          }
        .colorRed .cell{
            color: $warningBg;
        }

        .el-tooltip__popper.is-dark{
            max-width: 100%;
        }
        .forceSelfClass{
            font-size: 14px;
        }

        .orderItemsCopy {
            display: flex;
            flex-direction: row;
            overflow:hidden;
            text-overflow:ellipsis;
            width:11%;
            color: #595959;
            &:first-child{
                width: auto;
                // font-weight: 700;
                font-weight: 600;
                color: #000;
                .text-tooltip{
                    max-width: 200px;
                }
            }
            &:nth-child(2){
                padding-left: 4px;
                flex: 1;
                color: #8C8C8C !important;
                .text-tooltip{
                    min-width: 30px;
                }
            }
            &:not(:nth-child(1)):not(:nth-child(2)){
                .text-tooltip{
                    width: 100%;
                }
            }
            .letter_space{
                margin-left: 4px;
            }
            .special,.blueTxt,.greenTxt {
                font-size:14px;
                color:$warningBg;
                font-weight: bold;
            }
            .greenTxt{
                color: #72C140;
            }
            .blueTxt{
                color: #448EF7;
            }
           
        }

        .orderItemsCopy1 {
            &:first-child{
                width: auto;
                font-weight: 600;
                color: #000;
                .text-tooltip{
                    max-width: 290px;
                }
            }
        }

        .el-table__row--level-1 {
            background:#FAFAFA;
            td{
                border-bottom:0;
                border-top:0;
                .el-table__indent {
                    // padding-left:15px!important;
                    padding-left: 0!important;
                    padding-right:0!important;
                }
            }
        }
        .el-table__expand-icon{
            display: none!important;
        }
        .el-table__placeholder{
            width:auto;
        }
        .el-table__body-wrapper{
            // height:calc(100% - 100px) !important;
            overflow-y: auto;
        }

          /*滚动条样式*/
        .el-table__body-wrapper::-webkit-scrollbar {
            /*滚动条整体样式*/
            width: 6px;
            height: 6px;
        }
        .el-table::before{
            height:0;
        }
        .el-table__body-wrapper::-webkit-scrollbar-thumb {
            /*滚动条里面小方块*/
            border-radius: 5px;
            background: rgba(80, 79, 79, 0.2);
        }
    }
}