.printFrontPage {
    background-color: #fff;
    font-size: 14px;
    color: #000000;
    page-break-after:always;

    .dataText {
        display: inline-block;
        line-height: 20px;
        min-width: 60px;
        border-bottom: 1px solid #000000;
        color: #666666;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .color666 {
        color: #666666;
    }

    .dataTextSmall {
        min-width: 30px;
    }

    .tableText {
        border: none;
        min-width: initial;
        padding: 0;
        overflow-wrap: break-word;
        word-break: break-word;
    }

    .firstTitle {
        text-align: center;
        position: relative;
    }

    .h3 {
        font-size: 22px;
        line-height: 1.8;
        font-weight: 700;
        color: #333333;
    }

    .h4 {
        line-height: 1.6;
        font-size: 18px;
        font-weight: 500;
        color: #333333;
    }

    .organizationalCode {
        position: absolute;
        right: 30px;
        top: 4px;
    }

    .medicalRecordOuter {
        border: 1px solid #000;
        padding: 20px
    }

    .baseInfo {
        margin-top: 18px;
    }

    .baseInfoUp {
        padding-bottom: 10px;
        display: box;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
    }

    .contentInfo {
        padding-top: 10px;
        border: 1px solid #000;
    }

    .contentInfoTop {
        padding: 0 10px;
        margin-bottom: 10px;
        display: box;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
    }

    .contentInfoTable {
        display: box;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        border-top: 1px solid #000;
    }

    .diagnosisRow {
        display: box;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex: 0.5;
    }

    .contentInfoTableMax {
        border-right: 1px solid #000;
        flex: 3;
    }

    .contentInfoTableTitle {
        text-align: center;
    }

    .contentInfoTableMid {
        border-right: 1px solid #000;
        flex: 1;
    }

    .borderBottom {
        border-bottom: 1px solid #000;
    }

    .contentInfoTableMin {
        border-right: 1px solid #000;
        flex: 0.5;
    }

    .noBorder {
        border-color: transparent;
    }

    .transparentBorder {
        border-right: 1px solid transparent;
    }

    .contentInfoTableAcores {
        display: box;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        border-top: 1px solid #000;
        justify-content: space-between;
    }

    .borderTopNone {
        border-top: none;
    }

    .contentInfoTableHeight {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 20px;
    }

    .borderColor666 {
        border-color: #666666;
    }
}