.medicalRecordBack {
    background-color: #fff;
    padding: 20px;
    .firstTitle {
        text-align: center;
        position: relative;

        .organizationalCode {
            position: absolute;
            right: 30px;
            top: 4px;
        }
    }
    .medicalRecordOuter {
        border: 1px solid #000;
        padding: 20px;
    }
    .baseInfo {
        .el-select .el-input__inner {
            padding: 0;
        }

        .el-input__inner {
            padding: 0;
        }

        .el-input__prefix {
            display: none;
        }

        margin-top: 10px;

        .baseInfoUp {
            margin-bottom: 10px;
            display: box;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: space-between;

            div {
                .inHospitalWidth {
                    width: 30px;
                }

                .recordNumWidth {
                    width: 80px;
                }

                .cardNumWidth {
                    width: 80px;
                }

                .IDWidth {
                    width: 80px;
                }
            }
        }
    }

    .contentInfo {
        .el-select .el-input__inner {
            padding: 0;
        }

        .el-input__inner {
            padding: 0;
        }

        .el-input__prefix {
            display: none;
        }

        border: 1px solid #000;

        .contentInfoTableNoOutline {
            .el-select .el-input__inner {
                border-left: none;
                border-top: none;
                border-right: none;
                border-radius: 0;
                outline: none;
                padding: 5px;
            }

            .el-input__inner {
                border-bottom: none;
                outline: none;
            }
        }

        .disabledSelect {
            width: 100%;
        }

        .contentInfoTable {
            display: box;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #000;

            .contentInfoTableTitle {
                padding-top: 10px;
                text-align: center;
            }

            .contentInfoTableMaxLineHeight {
                line-height: 40px;
            }

            .contentInfoTableMax {
                border-right: 1px solid #000;
                flex: 2.5;

                .contentInfoTableInnerFlex {
                    display: box;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: flex;
                    border-top: 1px solid #000;

                    div {
                        flex: 1;
                        border-right: 1px solid #000;
                    }

                    div:nth-child(3) {
                        border-right: none;
                    }

                    .el-input,
                    .el-input--small {
                        border-right: none;
                    }

                    .el-select,
                    .el-select--small {
                        border-right: none;
                    }
                }
            }

            .contentInfoTableHeight {
                height: 40px;
                line-height: 40px;
            }

            .contentInfoTableLineHeight {
                line-height: 94px;
                padding: 0;

                .contentInfoTableInnerFlexNoBorderTop {
                    border-top: none;
                }
            }

            .contentInfoTableMaxx {
                border-right: 1px solid #000;
                flex: 1.5;
            }

            .contentInfoTableMid {
                border-right: 1px solid #000;
                flex: 1;

                .selectConcat2 {
                    width: 20px;
                }


            }

            .contentInfoTableMidd {
                border-right: 1px solid #000;
                flex: 1.5;
            }

            .contentInfoTableMin {
                border-right: 1px solid #000;
                flex: 0.5;
            }

            .noBorder {
                border-right: none;
            }

            .transparentBorder {
                border-right: 1px solid transparent;
            }

            .bigWidth {
                width: 160px;
            }

            .maxWidth {
                width: 100px;
            }

            .maxxWidth {
                width: 120px;
            }

            .midWidth {
                width: 50px;
            }

            .minWidth {
                width: 30px;
            }

            .minnWidth {
                width: 25px;
            }

            .minnnwidth {
                width: 20px;
            }

            .contentInfoTableHeight {
                height: 40px;
                line-height: 40px;
            }
        }

        .noBorderTop {
            border-top: none;
        }
    }

    .detail {
        p {
            margin: 10px 0;
        }
    }

    .el-input.is-disabled .el-input__inner {
        color: transparent;
    }

    .el-input__inner {
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 0;
        outline: none;
    }

    .el-select .el-input__inner {
        border-top: 1px solid #dcdfe6;
        border-left: 1px solid#dcdfe6;
        border-right: 1px solid#dcdfe6;
        border-radius: 0;
        outline: none;
        padding: 5px;
    }

    .el-select .el-input__suffix {
        display: none;
    }

    .positionSpan {
        position: relative;

        span {
            position: absolute;
            top: 0;
            right: 80px;
        }
    }
}
